body
{
font-family: Arial;
margin: 0px 0px auto 0px;
background-color: #999999;
background-image: url('images/bg.png');
}

.nav {
	background-color: #f99427;
	height: 80px;
	border-bottom: 10px solid #ffae56;
}

.nav .container .pull-right{
	position: absolute;
	margin-left: 25%;
	margin-right: 3%;
}

.nav .container .row .pull-right button{
	background-color: #ffae56;
	border-bottom: 1px solid #f7640f;
	border-radius: 50px;
	width: 200px;
	height: 38px;
	margin-top: 1%;
}

.nav .container .row .pull-right #special_button{
	background-color: #ff3030;
	border-bottom: 1px solid #c11a0a;
}

.nav button a{
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}

.nav .pull-left{
	margin-top: 1%;
	margin-left: 3%;
}
ul li{
	display: inline;
}