body
{
font-family: Arial;
margin: 0px 0px auto 0px;
background-color: #999999;
background-image: url('images/bg.png');
}

.nav {
	background-color: #f99427;
	height: 80px;
	border-bottom: 10px solid #ffae56;
}

.nav .container .pull-right{
	position: absolute;
	margin-left: 25%;
}

.nav .container .row .pull-right button{
	background-color: #ffae56;
	border-bottom: 1px solid #f7640f;
	border-radius: 50px;
	width: 200px;
	height: 38px;
	margin-top: 1%;
}

.nav .container .row .pull-right #special_button{
	background-color: #ff3030;
	border-bottom: 1px solid #c11a0a;
}

.nav button a{
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}

.nav .pull-left{
	margin-top: 1%;
	margin-left: 3%;
}
ul li{
	display: inline;
}

.jumbotron {
	background-color: #3e3e3e;
	height: 600px;
	margin-top: 7%;
}

.jumbotron .container{
	background-color: #e2e2e2;
	margin-top: 3%;
	margin-left: 3%;
	width: 60%;
	height: 80%;
	border-radius: 30px;
	border: 5px solid #f6f6f6;
	float: left;
}

.jumbotron .sidebar{
	background-color: #ffae56;
	margin-top: 3%;
	margin-left: 67%;
	width: 30%;
	height: 80%;
	border-radius: 30px;
	border: 5px solid #f99427;
	position: relative;
}

.jumbotron .sidebar .data{
	color: #ffffff;
	text-shadow: 5px 5px 5px #fba03e;
	font-weight: bold;
	margin-left: 30px;
	padding: 0px 0px 0px 0px;
}
.jumbotron .sidebar h2{
	color: #ffffff;
	font-weight: bold;
	margin-left: 30px;
	padding: 0px 0px 0px 0px;
}

.jumbotron .sidebar h4{
	color: #ffffff;
	margin-left: 30px;
}

.jumbotron .sidebar p{
	margin-top: 35px;
}

.footer{
	background-color: #e2e2e2;
	height: 80px;
	margin-top: 7%;
	margin-bottom: 0%;
	border-top: 5px solid #fba03e;
}

.footer img{
	margin-top: 2%;
	margin-left: 40%;
	margin-right: 40%;
}